<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div *ngFor="let job of jobsList">
    <div class="card-container">
        <span>
            <span>
                <img [src]="job.companyLogo" class="img-container" alt="Company Logo">
            </span>
            <span>
                <span>
                    <h2 class="title" (click)="navigateToJob(job.id)">{{ job.title }}</h2>
                </span>
                <span>
                    <span>Company: {{job.companyName}}</span> <span class="refernce-container">Reference:
                        {{job.reference}}</span>
                </span>
            </span>
        </span>
        <span>
            <span id="star-{{ job.id }}" class="fa fa-star icon-star" (click)="toggleStar(job.id)"></span>
        </span>
    </div>
</div>